@import "./dashboardmenu.css";

.display__layout {
  width: 100%;
  min-height: 90%;
  padding: 5%;
  margin: 0;
  border-radius: 1rem;
  background-color: var(--background-item);
}

.configs--panels {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--theme-color);
  margin-top: 3rem;
}

/* CONFIGURAÇÕES */
.theme-selector {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.theme--fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  border: 2px solid var(--background);
  border-radius: 2rem;
  padding: 1rem;
  padding-bottom: 3rem;
  gap: 2rem;
}

.theme-tittle {
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
}

.theme-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.theme-selector input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 2px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
  border: 1px solid var(--radio-color);
  background-color: var(--radio-bg);
  transform: rotate(-45deg);
}

.theme-selector input[type="radio"]:checked {
  background: conic-gradient(var(--radio-bg) 180deg, var(--radio-color) 0deg);
}

input[type="radio"]#light-blue {
  --radio-color: #1aa7ec;
  --radio-bg: #fff;
}
input[type="radio"]#light-purple {
  --radio-color: #8215da;
  --radio-bg: #fff;
}
input[type="radio"]#light-green {
  --radio-color: #01b636;
  --radio-bg: #fff;
}
input[type="radio"]#dark-blue {
  --radio-color: #1aa7ec;
  --radio-bg: #121212;
}
input[type="radio"]#dark-purple {
  --radio-color: #8215da;
  --radio-bg: #121212;
}
input[type="radio"]#dark-green {
  --radio-color: #01b636;
  --radio-bg: #121212;
}

.aviso-cadastros{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.aviso-cadastros h3{
  font-weight: 700;
  margin-bottom: 1rem;
}

.aviso--input{
  text-align: center;
  width: 15rem;
  margin-block: 1rem;
  height: 2rem;
  border: 0.12rem solid rgb(197, 197, 197);
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.05);
  padding-left: 1rem;
}

.config--info-img,
.config--ajust-img,
.save-configs{
  color: var(--font-color-inverse);
  font-weight: 700;
  background: var(--theme-color-gradient);
  background-size: 500%;
  background-position: top left;
  border: none;
  border-radius: 1rem;
  width: fit-content;
  padding: 1rem;
  padding-inline: 2rem;
  align-self: center;
  transition: all 350ms ease-in-out;
}

.config--ajust-img:focus,
.config--ajust-img:hover,
.config--ajust-img:active,
.save-configs:active,
.save-configs:focus,
.save-configs:hover {
  outline: none;
  background-position: bottom right;
  box-shadow: 0 0 10px var(--theme-color);
}

/* USER DADOS */
.config--panel-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.config--img-user {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    border: 0.2rem solid var(--background);
    height: 150px;
    width: 150px;
}

.config--add-image{
  position: absolute;
  bottom: 0.1rem;
  right: 0.1rem;
  border-radius: 50%;
  border: none;
  background: var(--theme-color-gradient);
  background-size: 1500%;
  background-position: 0%;
  color: var(--font-color-inverse);
  transition: all 350ms ease-in-out;
}

.config--add-image:hover,
.config--add-image:active,
.config--add-image:focus{
  background-position: 100%;
}

.config--ajust-img{
  width: 100%;
}

.config--info-img{
  width: 100%;
  background: darkred !important;
  transition: all 350ms ease-in-out;
}

.config--info-img:hover,
.config--info-img:active,
.config--info-img:focus{
  background: red !important;
}

.user-panel--title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--theme-color);
}

.configs--panels-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--theme-color);
  border: none;
  color: var(--font-color-inverse);
}

.configs--panels-btn[aria-checked="true"] {
  transform: scaleY(-1);
}

.configs-form {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}

.config--input-div {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3.5rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.config--input {
  width: 100%;
  margin: 0;
  height: 2rem;
  border: 0.12rem solid rgb(197, 197, 197);
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.05);
  padding-left: 1rem;
}

.config--input-error {
  font-size: 0.8rem;
}

.config--mostra-senha,
.config-ico {
  position: absolute;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.config-ico {
  top: 0.3rem;
  right: 3rem;
}

.config--mostra-senha {
  border: none;
  background: none;
  top: 0.3rem;
  right: 1rem;
  cursor: pointer;
}

.config--button--submit {
  margin-top: 1rem;
  color: var(--font-color-inverse);
  font-weight: 700;
  background: var(--theme-color-gradient);
  background-size: 500%;
  background-position: top left;
  border: none;
  border-radius: 1rem;
  width: fit-content;
  padding: 1rem;
  padding-inline: 2rem;
  align-self: center;
  transition: all 350ms ease-in-out;
}

.aviso--input:focus,
.aviso--input:active,
.config--input:focus,
.config--input:active {
  outline: 2px solid var(--theme-color);
}

.config--button--submit:active,
.config--button--submit:focus,
.config--button--submit:hover {
  outline: none;
  background-position: bottom right;
  box-shadow: 0 0 10px var(--theme-color);
}

.configs--panels-senhas{
  display: flex;
  justify-content: space-between;
}

.panel--exibe-senha{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 720px) {
  .display__layout {
    min-height: 96vh;
  }

  .config--panel-img{
    flex-direction: row;
  }
  .config--info-img,
  .config--ajust-img{
    width: fit-content;
  }
}
