@import "./dashboardmenu.css";

.display__layout {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Icones de estatistica*/
.stat--desc-icon {
    width: 1rem;
    height: 1rem;
    border-radius: 0.2rem;
    border: 1px solid var(--font-color);
    margin-right: 1rem;
    background: var(--background-item);
}

.stat__layout {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--background-item);
}

/* Descrição */

.desc-txt {
    font-size: 0.9rem;
    margin-block: 0.5rem;
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.bg-grafico-stats {
    width: max-content;
    max-width: 100%;
    padding: 1rem;
    height: 25vh;
    background-color: var(--background);
    border-radius: 0.5rem;
    overflow: hidden;
    overflow-x: auto;
    border: 1px solid var(--font-color);
}

.stat__cadastros--desc select {
    background: var(--background);
    color: var(--font-color);
    width: 100%;
    min-width: 15rem;
    height: 2rem;
    margin-top: 1rem;
    padding-inline: 1rem;
    text-align: center;
    border: none;
    border-radius: 2rem;
    position: relative;
}

@media (min-width: 720px) {
    .display__layout {
        flex-flow: row wrap;
        flex-grow: 1;
    }

    .stat__layout {
        min-width: 32%;
        flex: 1;
    }
}